
/* Your CSS Code here. */
.heading{
	font:20px;
	color:white;
	text-decoration:underline;
	background-color:purple;
	width:200px;
	background-color:purple;
	border-left:5px solid green;
	padding:10px;
}